.unit-box {
	border: 1px solid black;
	margin-bottom: 16px;
}
.unit-box-header {
	background-color: black;
	color: white;
	margin: 0;
	h3 {
		line-height: 16px;
		padding: 0;
		margin: 0;
		float: left;
	}
	p {
		float: right;
	}
	width: 100%;
}

.unit-box-body {
	padding: 16px;
	overflow: auto;

	.PersonGraphic {
		width: 24px;
		height: 48px;
		background-image: url('../../assets/person.png');
	}

	.graphic {
		float: left;
		background-size: contain;
		background-position: center bottom;
		background-repeat: no-repeat;
		margin: 8px 4px;
		display: block;
		height: 64px;
	}

	.JeepGraphic {
		width: 81px;
		// height: 39px;
		background-image: url('../../assets/jeep.png');
	}
	.CCKWGraphic {
		width: 165px;
		// height: 58px;
		background-image: url('../../assets/cckw.png');
	}
	.HalfTrackGraphic {
		width: 148px;
		// height: 65px;
		background-image: url('../../assets/halftrack.png');
	}
}
